@import '_variables.scss';
@import '_slideshow.scss';
@import '_projects.scss';

html
{
    overflow-x: hidden;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $primary-color;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100%;
    
    ::-webkit-scrollbar{
        display: none;
    }
}

header
{
    height: 100vh;
    width: 100vw;
    padding: 3vw;
    box-sizing: border-box;

    .kv
    {   
        background-image: url("../images/kv.jpeg");
        background-color: black;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .dhuLogo
    {
       fill: white;
    }

    h1
    {   
        color: white;
        font-size: 2rem;
        text-align: right;
        margin-top: 35vh;
    }

    h2
    {
        color: white;
        font-size: 1.5rem;
        text-align: right;
        margin-top: 30px;
    }

    p
    {
        color: white;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
        float: right;
        width: 50vw;
        margin-top: 30px;
    }

    .scroll
    {
        font-size: 0.6rem;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        padding: auto;

        span
        {
            position: relative;
            left: 17.5px;
            top: 40px;
        }

        &::after{
            content: "";
            /*描画位置*/
            position: absolute;
            top: 95vh;
            /*線の形状*/
            width: 1px;
            height: 30px;
            background: #eee;
            /*線の動き1.4秒かけて動く。永遠にループ*/
            animation: pathmove 1.4s ease-in-out infinite;
            opacity:0;
        }
        
        /*高さ・位置・透過が変化して線が上から下に動く*/
        @keyframes pathmove{
            0%{
                height:0;
                top:95vh;
                opacity: 0;
            }
            30%{
                height:30px;
                opacity: 1;
            }
            100%{
                height:0;
                top:100vh;
                opacity: 0;
            }
        }
    }
}

main
{
    h3
    {
        @include text-40();
    }

    h4
    {
        @include text-30();
    }

    h5
    {
        @include text-25();
    }

    p
    {
        line-height: 1.5;
    }

}

#courses
{
    width: 100vw;

    li
    {
        margin-top: 70px;
    }

    .image-container
    {
        @include drop-shadow();
        @include background-set();
        width: 60vw;
        height: 600px;
        z-index: 0;
        position: relative;
    }

    .text-container
    {
        @include drop-shadow();
        @include rounded-corners();
        width: 600px;
        height: 380px;
        z-index: 1;
        position: relative;
        background-color: white;
        padding: 90px 70px;
        box-sizing: border-box;
    }

    #course-first
    {
        .image-container
        {
            background-image: url("../images/classes_prototyping.jpeg");
        }

        .text-container
        {
            top: -300px;
            left: 40vw;
        }
    }

    #course-second
    {
        .image-container
        {
            background-image: url("../images/classes_development.jpeg");
            transform: scaleX(-1);
            left: 40vw;
        }

        .text-container
        {
            top: -650px;
            left: 20vw;
        }
    }

    #course-third
    {
        .image-container
        {
            background-image: url("../images/classes_seminar.jpeg");
        }

        .text-container
        {
            top: -700px;
            left: 40vw;
        }
    }
}

#compare
{
    .image-container
    {
        width: 50vw;
        height: 100vh;
        @include background-set();
        @include drop-shadow();
    }

    .text-container
    {
        @include drop-shadow();
        width: 50vw;
        padding: 20vh 100px;
        background-color: white;
        box-sizing: border-box;

        p{
            line-height: 1.5;
            margin-top: 80px;
        }

    }

    #web-designer-container
    {
        display: flex;
        margin-top: 70px;

        .image-container
        {
            background-image: url(../images/web_designer.jpeg);
        }
    }

    #web-programmer-container
    {
        display: flex;

        .image-container
        {
            background-image: url(../images/web_programmer.jpeg);
        }
    }
}

#merit
{
    .merit-container
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 7.5vw;
        box-sizing: border-box;
        margin-top: 40px;

        #merit-first
        {
            @include onMouseOut();

        &:hover
        {
            @include onHover();
        }
        }

        #merit-second
        {
            @include onMouseOut();

        &:hover
        {
            @include onHover();
        }
        }

        #merit-third
        {
            @include onMouseOut();

        &:hover
        {
            @include onHover();
        }
        }

        #merit-fourth
        {
            @include onMouseOut();

        &:hover
        {
            @include onHover();
        }
        }

        #merit-fifth
        {
            @include onMouseOut();

        &:hover
        {
            @include onHover();
        }
        }

        .merit-badge
        {
            margin-top: 30px;
            width: 430px;
            height: 387px;

            img
            {
                width: 90%;
                height: 100%;
                @include fadeIn();
            }

            .text-container
            {
                @include rounded-corners();
                @include drop-shadow();
                width: 380px;
                height: 367px;
                padding: 80px 40px;
                margin-right: 50px;
                box-sizing: border-box;
                background-color: $primary-color;
                color: white;
                position: relative;
                top: -387px;

                h5
                {
                    color: white;
                    text-decoration: none;

                }
            }
        }
    }
}

#personal
{
    .personal-container
    {   
        @include drop-shadow();
        @include rounded-corners();
        width: 70vw;
        height: 75vh;
        display: flex;
        margin-top: 30px;

        .image-container
        {
            @include background-set();
            border-radius: 25px 0 0 25px;
            width: 40vw;
            height: 100%;
        }

        .text-container
        {
            padding: 20vh 80px;
            box-sizing: border-box;
            width: 40vw;
            height: 100%;
        }
    }

    #personal-first
    {
        .image-container
        {
            background-image: url(../images/classes_prototyping.jpeg);
        }
    }

    #personal-second
    {
        .image-container
        {
            background-image: url(../images/classes_development.jpeg);
        }
    }

    #personal-third
    {
        .image-container
        {
            background-image: url(../images/classes_seminar.jpeg);
        }
    }
}

#teachers
{
    #teacher-container
    {   
        margin-top: 70px;
        display: flex;
        justify-content: space-evenly;
    }

    .slides
    {
        margin-right: 0;
    }

    .teacher
    {
        @include drop-shadow();
        width: 25vw;
        height: auto;
        text-align: center;
        display: block;

        img
        {
            width: 25vw;
        }

        .text-container
        {
            padding: 3vh 5vw;
            box-sizing: border-box;
        }
    }

    #prev-arrow-teacher
    {
        display: none;
    }

    #next-arrow-teacher
    {
        display: none;
    }

    .dots-teacher
    {
        display: none;
    }
}

#projects
{
    .project-grid
    {
        width: 80vw;
        margin-left: 10vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr,;
        grid-template-rows: 1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .project-container
    {
        @include drop-shadow();
        @include rounded-corners();
        @include background-set();
        @include onMouseOut();
        margin-top: 70px;

        &:hover
        {
            @include onHover();
        }
    }

    #project-first
    {
        background-image: url(../images/web_gallery_dementia.jpeg);
        grid-area: 2 / 1 / 5 / 5;
        z-index: 2;

        &:hover
        {
            z-index: 3;
        }
    }

    #project-second
    {
        background-image: url(../images/web_gallery_focammina.jpeg);
        grid-area: 7 / 2 / 11 / 6;
        z-index: 2;

        &:hover
        {
            z-index: 3;
        }
    }

    #project-third
    {
        background-image: url(../images/web_gallery_allertech.jpeg);
        grid-area: 1 / 7 / 7 / 11;
        z-index: 1;

        &:hover
        {
            z-index: 3;
        }
    }

    #project-fourth
    {
        background-image: url(../images/web_gallery_tokyokawaiiguide.jpeg);
        grid-area: 3 / 4 / 9 / 8;
        z-index: 0;

        &:hover
        {
            z-index: 3;
        }
    }

    #project-fifth
    {
        background-image: url(../images/web_gallery_ikiraku-yoga.jpeg);
        grid-area: 4 / 9 / 10 / 12;
        z-index: 2;

        &:hover
        {
            z-index: 3;
        }
    }
}

footer
{
    @include text-30();
    background-color: $primary-color;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 4vw;
    box-sizing: border-box;
    line-height: 1.5;
    margin-top: 200px;

    #dhu-info-container
    {   
        color: white;
        width: 40vw;
        margin-top: 50px;

        .dhuLogo
        {
            fill: $accent-color;
            margin-bottom: 40px;
        }
    }

    #dhu-address
    {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        margin-top: 30px;

        svg
        {
            fill: $accent-color;
            margin-right: 15px;
            margin-top: 5px;
        }

        p
        {
            text-align: left;
        }
    }

    #dhu-contact-container
    {
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;

        #dhu-contact
        {
            li
            {
                margin-top: 15px;

                &:first-child:before
                {
                    content: "";
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                    margin-top: 5px;
                    background: url(../images/square-phone-solid.png) no-repeat top right;
                }

                &:last-child:before
                {
                    content: "";
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                    margin-top: 5px;
                    background: url(../images/square-envelope-solid.png) no-repeat top right;
                }
            }
        }

        #dhu-opening
        {
            font-size: 1rem;
            margin-top: 25px;
            text-align: left;
        }
    }

    #footer-line
    {
        border-left: 3px solid $secondary-color;
        height: 600px;
    }

    #footer-nav
    {
        width: 35vw;
        margin-top: 80px;

        ul
        {
            font-size: 1rem;
            text-align: left;
        }

        li
        {
            margin-top: 30px;
        
            a
            {
                text-decoration: none;
                color: white;

                &:hover
                {
                    color: $accent-color;
                    font-weight: bold;
                }
            }

        }
    }
}

#copyright
{
    font-size: 16px;
    text-align: center;
    background-color: $secondary-color;
    width: 100vw;
    padding: 15px 30px;
    box-sizing: border-box;
    color: white;   
}

@import '_responsive.scss';